
h1{
    color: rgba(126, 22, 22, 0.699);
text-align: center;
text-shadow: 2px 2px 2px rgba(255, 30, 0, 0.74);
font-size: 55px;
border-width: 75%;
border-style: double;
border-color: red;
padding: 0%;
margin: 25%;
box-shadow: 70px;
border-left: 30px;
border-right: 30px;;
box-shadow: 4px 5px 9px black;

}
 body{
        background-image:url(image/gluten.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        lighting-color: aqua;
         
       }
       h4{
        color: brown;
        text-align: left;
        text-decoration:white;
        font-size: 40px;
       }
    
      h5{
                text-align: center;
                font-size: 50px;
                text-shadow: 2px 2px 2px orangered;
        }
            img{
            size: 20px;
            image-resolution:  19px;
            image-orientation: flip;
            border-image-width: 10px;
            }
h2{

    color: rgba(0, 255, 34, 0.74);
    text-decoration: underline;
    font-style:inherit;
    text-align: center;
    font-size: 40px;

}

table,th,td{
    border: 1px solid brown;
    background-color: beige;
    font-size: 20px;
    box-shadow: 2px 3px 5px rgba(245, 222, 179, 0.637);    
    text-align: left;
    background-color:black;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.308),rgba(165, 42, 42, 0.295));
}
          
h3{
    color: rgba(0, 255, 34, 0.74);
    
     text-decoration: underline;
     oblique{
        font-style: inherit;
        }
        text-align: center;
        font-size: 40px;
       } 
p{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 30px;
    word-spacing: 10%;
 font-size: 25px;
 text-indent: 5%;
 background-color: rgba(245, 230, 220, 0.178);
background: linear-gradient(rgba(255, 255, 255, 0.356),rgba(128, 128, 128, 0.185));
}