body{
    margin: 0;
    font-family: "Segoe UI",sans-serif;
    background:gray;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20PX 40px;
    background: beige;
    background-size: cover;
    color:black;
    font-size: bold;
    box-shadow:0 2px 10px rgba(0,0,0,0,0.5);
}

.logo{
    font-size: 24px;
    font-weight: bold;
}
nav a {
    color:#333;
    text-decoration: none;
    margin-left: 20px;
}

.hero{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 80px 40px;
    gap:40px;
}

.text{
    flex: 1;
}
.text h2{
    font-size: 42px;
}
.text p{
    font-size: 18px;
    margin: 15px 0;
}
.text button{
    padding: 12px 24px;
    border: none;
    background:#222;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.text button :hover{
    background: white;
    transform: scale(1.1);
}

.plat{
    flex: 1;
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
    padding: 20px;
    background:#222;
    color: white;
}
.hero button{
    padding: 10px 20px;
    border:none;
    background: #222;
    color: white;
    cursor: pointer;
}

.about{
    padding: 40px;
    text-align: center;
}

footer{
    background:#222;
    color: white;
    text-align: center;
    padding: 15px;
}

.social-icons img{
    width: 23px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons img:hover{
    transform: scale(1.2);
}
