@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*{
    margin: 0;
}


.vid{
    overflow: hidden;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    
}

video{
  width: 100%; 
}

.nos_recette{
    width: 40%;
}

.nos_recette a {
    font-family: "Cinzel", serif;
}

.contenaire{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.048);
    display: flex;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

.contenaire a{
    font-size: 35px;
    text-decoration: none;
    color: aliceblue;
   
}

.d_recette{
    width: 100%;
    display: flex;
    justify-content: right;
}

.recette_sallée a{
    padding-right: 50px;
    font-family: "Sofia", cursive;
    
}

.recette_sucrée{
    padding-right: 50px;
    font-family: "Sofia", cursive;
}

.nos_recette a{
    padding-left: 50px;
}

.message{
    width: 100%;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message p{
    font-size: 70px;
    color: white;
    padding-bottom: 150px;
    font-family: "Urbanist", sans-serif;
}
